In [ ]:
import logging

from logger_config import setup_logging

setup_logging(level=logging.INFO)


import configparser

import pandas as pd
import main

from economic_data.extract.economic_data import (
    fetch_ecb_json,
    fetch_eurostat_json,
    fetch_fred_json,
)
from economic_data.transform.transform_economic_data import (
    calculate_monthly_change,
    ecb_json_to_df,
    eurostat_json_to_df,
    fred_json_to_df,
    label_and_append,
    set_monthly_ecb_interest_rate,
    rename_economic_indicators,
    threshold_csv_to_df,
)

logger = logging.getLogger(__name__)
pd.set_option("display.max_rows", 500)

In [2]:
file = "config/economic_thresholds_europe_us.csv"

df_thresholds = pd.read_csv(file)
df_thresholds

,indicator,good_range,medium_range,bad_range
0,inflation_monthly_euro,0.2% – 0.4%,0.0% – 0.2% or 0.4% – 0.8%,< 0% or > 0.8%
1,interest_rate_monthly_euro,0.5% – 2.5%,0.0% – 0.5% or 2.5% – 4.0%,< 0.0% or > 4.0%
2,unemployment_rate_monthly_euro,5.5% – 7.0%,4.5% – 5.5% or 7.0% – 9.0%,< 4.5% or > 9.0%
3,inflation_monthly_us,0.2% – 0.4%,0.0% – 0.2% or 0.4% – 0.8%,< 0% or > 0.8%
4,interest_rate_monthly_us,1.5% – 3.5%,0.5% – 1.5% or 3.5% – 5.5%,< 0.5% or > 5.5%
5,unemployment_monthly_rate_us,3.5% – 5.0%,2.5% – 3.5% or 5.0% – 7.0%,< 2.5% or > 7.0%

In [1]:
df = main.main()
df

NameError: name 'main' is not defined